/* cta no oyt line  */
.btn{
    width: 91px;
height: 48px;
right: 0px;
top: calc(50% - 42px/2);
color:#fff ;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* Accent / Default */
outline: none;
cursor: pointer;
border:none ;
background: #3C64B1;
transition: all 0.25s ease 0s;
}
.btn:hover{
    background: #1A2946;
}